# Configuration for local development.
#
# In production, you should source env vars differently.
POSTGRES_URL="postgresql://tachi:tachi@tachi-postgres/tachi_dev"
NODE_ENV="dev"
PORT=8000
TACHI_SERVER_LOCATION="https://tachi.example.com"
HTTP_SERVER_URL="https://tachi-bot.example.com"
OAUTH_CLIENT_ID="CIfoobar"
OAUTH_CLIENT_SECRET="CSfoobar"
DISCORD_TOKEN="foobar"
DISCORD_SERVER_ID="123123123"
DISCORD_GAME_CHANNELS='{"bms":"1234","usc":"1235"}'
DISCORD_ADMIN_USERS=""
